node_modules
.env

# Hardhat files
/cache
/artifacts

# Publish files - keep index.ts gitignored but track /publish
index.ts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

/.claude
*.local.*
